.Loading {
    width: 100%;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Loading img {
    width: 20%;
    max-width: 80px;
    animation: loadingAnimation 1s linear infinite;
}

@keyframes loadingAnimation {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}